<main>

    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/darksouls1.png" class="d-block w-100" alt="Jogo em promoção">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/darksouls2.png" class="d-block w-100" alt="Promoção da semana">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/darksouls3.png" class="d-block w-100" alt="Game of the year">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2> Jogos do momento</h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/darsksouls.png" alt="Melhor jogo do mundo 1">


                <mat-card-header>
                    <mat-card-title>Jogo 1 </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Dark souls é um jogo que você se irrita a todo momento, mas que ao mesmo tempo te trás uma
                        enorme felicidade ao ganhar ou conseguir avançar no game.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 190,00</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/neji.png" alt="Melhor jogo do mundo 1">


                <mat-card-header>
                    <mat-card-title>Jogo 2</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        É um jogo de um dos melhores personagens da saga "naruto".
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 120,00</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/god.png" alt="Melhor jogo do mundo 1">


                <mat-card-header>
                    <mat-card-title>Jogo 3 </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        God of war é um jogo de ação onde voce assume o controle de Kratos o Deus da guerra.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 290,00</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>




</main>